<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css"
        href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">
    <style type="text/css">
        #createCertificateName {
            background-color: #72c02c!important
        }

        .file-upload-btn {
            width: 100%;
            margin: 0;
            color: #fff;
            background: #1FB264;
            border: none;
            padding: 10px;
            border-radius: 4px;
            border-bottom: 4px solid #15824B;
            transition: all .2s ease;
            outline: none;
            text-transform: uppercase;
            font-weight: 700;
        }

        .file-upload-btn:hover {
            background: #1AA059;
            color: #ffffff;
            transition: all .2s ease;
            cursor: pointer;
        }

        .file-upload-btn:active {
            border: 0;
            transition: all .2s ease;
        }

        .file-upload-content {
            display: none;
            text-align: center;
        }

        .file-upload-input {
            position: absolute;
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            outline: none;
            opacity: 0;
            cursor: pointer;
        }

        .image-upload-wrap {
            margin-top: 20px;
            border: 4px dashed #1FB264;
            position: relative;
        }

        .image-dropping,
        .image-upload-wrap:hover {
            background-color: rgba(31, 178, 100, 0.230);
            border: 4px dashed #ffffff;
        }

        .image-title-wrap {
            padding: 0 15px 15px 15px;
            color: #222;
        }

        .drag-text {
            text-align: center;
        }

        .drag-text h3 {
            font-weight: 100;
            text-transform: uppercase;
            color: #15824B;
            padding: 60px 0;
        }

        .file-upload-image {
            margin: auto;
            padding: 20px;
        }

        .remove-image {
            width: 200px;
            margin: 0;
            color: #fff;
            background: #cd4535;
            border: none;
            padding: 10px;
            border-radius: 4px;
            border-bottom: 4px solid #b02818;
            transition: all .2s ease;
            outline: none;
            text-transform: uppercase;
            font-weight: 700;
        }

        .remove-image:hover {
            background: #c13b2a;
            color: #ffffff;
            transition: all .2s ease;
            cursor: pointer;
        }

        .remove-image:active {
            border: 0;
            transition: all .2s ease;
        }

        body {
            font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
        }

        .bodyForm {
            padding: 0px 20px 20px 20px;
        }

        a {
            color: #00B7FF;
        }

        .def {
            border: 1px solid grey;
            border-radius: 10px;
            padding: 5px;
            margin: 5px;
        }

        .buttonDef {
            padding: 10px;
        }

        #checkboxOptions {
            overflow: scroll;
            border: 1px solid grey;
            border-radius: 3px;
            margin: 10px;
            padding: 5px;
            height: 250px;

        }
        </style>
</head>
<body>
    <div class="bodyForm">
        <form id="upload-form" action="/certificates" onsubmit="return validate(); buttonName.disabled=true; return true;"
        method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class ="col-lg-6">
                    <h2>Select a file to upload:</h2>
                    <div class="image-upload-wrap">
                        <input class="file-upload-input" input id="file-picker" type="file" name="certificate"
                        onchange="readURL(this);" required />
                        <div class="drag-text">
                            <h3>Drag and drop or click to add a file</h3>
                        </div>
                    </div>
                    <div class="file-upload-content">
                        <img class="file-upload-image img-fluid" src="#" alt="your image" />
                        <div class="image-title-wrap">
                            <button type="button" onclick="removeUpload()" class="remove-image">Remove <span
                            class="image-title">Uploaded Certificate</span></button>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-6">
                    <h2>Certificate General Information:</h2>
                    <div class="def">
                        <div class="form-group">
                            <label for="imageName">Certificate Name:</label>
                            <input type="text" class="form-control" name="certificateName" onkeypress="return /^[0-9a-zA-ZñÑ -_]+$/.test(event.key)" id="certificateName" required>
                        </div>
                        <div class="form-group">
                            <label for="year">Year:</label>
                            <select class="form-control" name="year" id="year" required></select>
                        </div>
                        <div class="form-group">
                            <label for="certificateType">Certificate Type:</label>
                            <select class="form-control" name="certificateType" id="certificateType" required></select>
                        </div>
                    </div>
                    <div class="text-right buttonDef">
                        <button type="submit" class="btn btn-primary btn-lg disableButton" name="buttonName" id="createCertificateName"
                        value="Upload Certificate">Create</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script>
         var URLParse = (window.location.search).substring(1);
        var flag = getQueryVariable("flag");
        var certificateName = unescape(getQueryVariable("name"))
        var submitCreateButton = document.getElementById("createCertificateName")
        var year = getQueryVariable("year")
        var type = getQueryVariable("type")
        if(flag=="edit"){
        var certificateNameText = document.getElementById("certificateName")
        var yearText = document.getElementById("year")
        var certificateTypeText = document.getElementById("certificateType")
        certificateNameText.value = certificateName
        submitCreateButton.innerHTML = "Update"
        }

        $.ajax({
            type: "GET",
            url: "/getCertificateTypes",
            dataType: "json",
            success: function (data){
                var datavalue = data;
                var serverResponse = datavalue;
                contentType: "application/json";
                var sRLength = (serverResponse.length-1)
                $.each(serverResponse, function(i, serverResponse) {
                    if(i==(sRLength)){
                        $("#certificateType").append("<option value='" + serverResponse.id + "'>" + serverResponse.name + "</option>")
                        if(flag=="edit"){
                            certificateTypeText.value = type
                        }
                    } else{
                        $("#certificateType").append("<option value='" + serverResponse.id + "'>" + serverResponse.name + "</option>")
                    }
                })
            }
        })
        function readURL(input){
            if(input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    $('.image-upload-wrap').hide();
                    var path = window.URL.createObjectURL(input.files[0]);
                    $('.file-upload-image').attr('src', "../images/docx.png");
                    $('.file-upload-content').show();
                    $("#certificateName").val((input.files[0].name).split(".")[0])
                    $('.image-title').html(input.files[0].name);
                }
                reader.readAsDataURL(input.files[0]);
            } else {
                removeUpload();
            }
        }

        function removeUpload(){
            $('.file-upload-input').replaceWith($('file-upload-input').clone())
            $('.file-upload-content').hide();
            $('.image-upload-wrap').show();
            $('#certificateName').val("")
        }

        $('.image-upload-wrap').bind('dragover', function(){
            $('.image-upload-wrap').addClass('image-dropping');
        })
        $('.image-upload-wrap').bind('dragleave', function(){
            $('.image-upload-wrap').removeClass('image-dropping');
        })

        $(document).ready(function(){
            var currentYear = new Date().getFullYear();
            for(var i=2017; i<=currentYear; i++) {
                if(i==currentYear){
                   $('#year').append("<option value='"+i.toString() + "'>" + i.toString() + "</option>")
                   if(flag=="edit"){
                       yearText.value = year
                   }
                } else {
                    $('#year').append("<option value='"+i.toString() + "'>" + i.toString() + "</option>")
                }
            }

        })

        function validate() {
            return true;
        }
        function getQueryVariable(variable) {
            var query = URLParse;
            var vars = query.split("&");
            for (var i = 0; i < vars.length; i++) {
                var pair = vars[i].split("=");
                if (pair[0] == variable) {
                    return pair[1];
                }
            }
            return false;
        }
    </script>
</body>