<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css"
    href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script src="./javascripts/getCertificatesJS.js"></script>
    <style type="text/css">
        .glyphicon-list-alt:before {
            font-size: 26;
        }

        .divLoader{
            text-align: center;
        }

        .loader {
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 240px;
            height: 240px;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
            display: inline-block;
        }

        #loadingText {
            display: inline-block;
        }

        @-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        @keyFrames spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        body {
            padding-right: 0 !important;
        }

        .modal-open {
            overflow: hidden;
            padding-right: 0 !important;
        }

        #variableNameError {
            color: red
        }
    </style>
</head>

<body>
    <div class="container">
        <h2 align="center">Certificates</h2>
        <ul class="list-group" id="list"></ul>
    </div>
    <table id="table_id" class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Year</th>
                <th>Type</th>
                <th>Link</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody id="table">
        </tbody>
    </table>

    <div class="modal fade" id="report" tabindex="-1" role="dialog" aria-labelledby="mcModalIniciativas" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" id="modal2">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" onclick="hideLoading()">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="divLoader">
                        <div class="loader" id="loader"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            <div class="modal-content" id="modal1">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                </div>
                <div class="modal-body">
                    <div class="row-fluid">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" id="title">
                                            Summary
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in">
                                    <div id="divVariableName" class="form-group">
                                        <label class="control-label" id="variableNameError" hidden>Variables not found in Data Base:
                                        </label>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row-fluid">
                                            <div class="container">
                                                <div class="col-md-4">
                                                    <div>
                                                        <iframe id="certificateTemplate" src="" frameborder="0" height="250px">
                                                        </iframe>
                                                    </div><br />
                                                </div>
                                                <div class="col-md-4">
                                                    <label for="certificateType">Certificate Type:</label>
                                                    <label id="certificateType"></label><br />
                                                    <label for="year">Year:</label>
                                                    <label id="year"></label><br />
                                                    <label for="student">Select Student:</label>
                                                    <select id="student"></select><br />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="cleanArrays()">Cancel</button>
                        <button type="button" class="btn btn-primary" onclick="generateCertificate()">Generate Certificate</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function listCertificates(){
            $('#table_id').DataTable({
                "ajax": {
                    "method": "GET",
                    "url": window.location.origin + "/getCertificates"
                },
                "columns": [
                    {"data": "name"},
                    {"data": "year"},
                    {"data": "type"},
                    {"data": "blobURL"},
                    {"data": "html"}
                ]
            })
        }

        var studentValues = []
        var settings = {
        "async": true,
        "crossDomain": true,
        "url": window.location.origin + "/getStudents",
        "method": "GET",
        "headers": {
            "cache-control": "no-cache",
        }
        }

        $.ajax(settings).done(function (response) {
        var students = (JSON.parse(response)).data
        for (let i = 0; i < students.length; i++) {
            var id = students[i].id
            var sName = (students[i].name).trim()
            var slName = (students[i].lastName).trim()
            var career = (students[i].career).trim()
            var age = students[i].age
            studentValues.push({id: i, name: sName, lastName: slName, studentName: sName +" "+ slName, career: career, age: age});
            $("#student").append("<option value='" + id +"'>"+sName+" "+slName + "</option>")
        }
        });

        $("#modal2").hide()
        var textVariables = []
        var counterText = 0
        var tagsWithValues = []

        listCertificates();

        function hideLoading() {
            $("#modal1").show()
            $("#modal2").hide()
        }

        function certificatePreview(certificate){
            cleanArrays();
            $("#certificateType").empty();
            $("#year").empty();
            $("#certificate").empty();

            var certificateName = certificate.name;
            var certificateType = (((certificate.id).split("-_-"))[1]).trim();
            var certificateBlobURL = (((certificate.id).split("-_-"))[2]).trim();
            var year = (((certificate.id).split("-_-"))[3]).trim();

            var title = document.getElementById("title");
            title.innerHTML = certificateName

            $("#certificateType").append(certificateType);
            localStorage.setItem("lsCertificateType", certificateType)

            $("#year").append(year);
            localStorage.setItem("lsYear", year);

            localStorage.setItem("lsCertificateBlobURL", escape(certificateBlobURL))
            $("#certificateTemplate").attr("src", "https://docs.google.com/gview?url="+ certificateBlobURL +"&embedded=true")

            localStorage.setItem("lsCertificateName", certificateName)
        }

        function fillArray(tags){
            return new Promise((res, rej) =>{
                for(var key in tags){
                    textVariables.push(key)
                }
                res("true")
            })
        }


        function getVariables(textVariables) {
            var studentNameElement = document.getElementById("student")
            var studentNameSelected = studentNameElement.options[studentNameElement.selectedIndex].text
            var variableNameError = document.getElementById("variableNameError")
            variableNameError.innerHTML = "Variables not found in Data Base: "
            return new Promise((res, rej) => {
                if (textVariables.length == 0) {
                    hideLoading();
                    variableNameError.hidden = false;
                    deleteCertificateFromProject();
                } else { 
                    for (let j=0; j<studentValues.length; j++){
                        if(studentValues[j].studentName == studentNameSelected){
                            for(let i=0; i<textVariables.length; i++){
                                if(textVariables[i]=="studentName"){
                                    json = {studentName: studentValues[j].studentName}
                                    tagsWithValues.push(json)
                                    counterText=counterText+1
                                    if(counterText == (textVariables.length)) {
                                        res("true")
                                    }
                                } else if(textVariables[i]=="career") {
                                    json = {career: studentValues[j].career}
                                    tagsWithValues.push(json)
                                    counterText=counterText+1
                                    if(counterText == (textVariables.length)) {
                                        res("true")
                                    }
                                } else if(textVariables[i]=="date") {
                                    var date = new Date();
                                    var day = date.getDate();
                                    var month = date.getMonth()+1;
                                    var year = date.getFullYear();
                                    var fullDate = day+"/"+month+"/"+year
                                    json = {date: fullDate}
                                    tagsWithValues.push(json)
                                    counterText=counterText+1
                                    if(counterText == (textVariables.length)) {
                                        res("true")
                                    }
                                } else {
                                    hideLoading();
                                    variableNameError.hidden = false;
                                    if (variableNameError.innerHTML == "Variables not found in Data Base: ") {
                                        variableNameError.innerHTML = variableNameError.innerHTML + " '" + textVariables[i] + "'"
                                    } else {
                                        variableNameError.innerHTML = variableNameError.innerHTML + ", '" + textVariables[i] + "'"
                                    }
                                    deleteCertificateFromProject();
                                }
                            }
                        } 
                    }
                }
            })
        }

        function generateCertificate(){
            $("#modal1").hide()
            $("#modal2").show()

            var url = localStorage.getItem("lsCertificateBlobURL")
            
            var data = JSON.stringify({
                "url": url
            })

            var settings = {
                "async": true,
                "crossDomain": true,
                "url": window.location.origin + "/getTags",
                "method": "POST",
                "headers": {
                    "Content-Type": "application/json",
                    "cache-control": "no-cache"
                },
                "processData": false,
                "data": data
            }

            $.ajax(settings).done(function(response){
                fillArray(response)
                .then(function(){
                    getVariables(textVariables)
                    .then(function(){
                        replaceArchive(tagsWithValues)
                    })
                })
            })
        }

        var jsonToReplace = {}

        function replaceArchive(tagsWithValues) {
            for(var tag in tagsWithValues) {
                for(var key in tagsWithValues[tag]) {
                    jsonToReplace[key] = tagsWithValues[tag][key]
                }
                if(tag == (tagsWithValues.length -1)) {
                    var studentNameElement = document.getElementById("student")
            var studentNameSelected = studentNameElement.options[studentNameElement.selectedIndex].text
            var certificateName = localStorage.getItem("lsCertificateName")
            var year = localStorage.getItem("lsYear")
            var certificateType = localStorage.getItem("lsCertificateType")
            var data = JSON.stringify({
                "replaceData": JSON.stringify(jsonToReplace),
                "fullName": studentNameSelected,
                "certificateName": certificateName,
                "certificateType": certificateType,
                "year": year
            })

            var settings = {
                "async": true,
                "crossDomain": true,
                "url": window.location.origin + "/replaceArchive",
                "method": "POST",
                "headers": {
                    "Content-Type": "application/json",
                    "cache-control": "no-cache"
                },
                "processData": false,
                "data": data
            }

            $.ajax(settings).done(function(response){
                certificateDoneName = response
                if (document.getElementById("downloadArchive")) {
                document.getElementById("downloadArchive").remove()
                }

                var url="https://certificatesazurestorage.blob.core.windows.net/certificatesdone/" + certificateDoneName
                var link = document.createElement("a")
                $("body").append(link)
                link.setAttribute("id", "downloadArchive")
                link.setAttribute("href", url)
                link.setAttribute("download", certificateName)
                document.getElementById("downloadArchive").click()
                hideLoading()
            })
                }
            }
        }

        function cleanArrays(){
            var variableNameError = document.getElementById("variableNameError")
            variableNameError.hidden = true;
            variableNameError.innerHTML = 'Variables not found in Data Base: '
            textVariables = []
            counterText = 0
            tagsWithValues = []
            if (document.getElementById("downloadArchive")) {
                document.getElementById("downloadArchive").remove()
            }
        }

        function deleteCertificateFromProject() {
            var certificateName = localStorage.getItem("lsCertificateName")
            var settings = {
                "async": true,
                "crossDomain": true,
                "url": window.location.origin + "/replaceArchive/" + certificateName,
                "method": "DELETE",
                "headers": {
                    "cache-control": "no-cache",
                }
            }

            $.ajax(settings).done(function(response){
                    
            })
        }
    </script>
</body>