<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css"
    href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script src="./javascripts/getStudentsJS.js"></script>
    <style type="text/css">
    body {
      padding-right: 0 !important
    }

    .modal-open {
      overflow: hidden;
      padding-right: 0 !important;
    }
    </style>
</head>

<body>
    <div class="container">
        <h2 align="center">Students</h2>
        <ul class="list-group" id="list">
        </ul>
    </div>
    <table id="student_id" class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Career</th>
                <th>Age</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody id="student">
        </tbody>
    </table>
    <script>
        listStudents();
    </script>
</body>